/* *{
   
} */
body{
    max-width: 1000px;
    margin:auto;
}
.search_box{
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgrey;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 7px;
}
.search_bar{
    margin-bottom: 20px;
    height: 40px;
}
.addArtistButton {
    float: right;
    padding-right: 10px;
}
.addArtistButton > * {
    height:34px;
}
.search_bar input{
    width:80%;
    height: 30px;
}
ul{
    list-style-type: none;
}
.artistList{
    display: none;  
}
.artistList ul{
    padding-left: 0px;
    margin: auto;
    width: 70%;
}
.artistList li{
    padding-top: 20px;
    padding-left: 10px;
    height: 100px;
    display: block;
    border-style: solid;    
    border-color: lightgrey;
    border-width: 0.5px;
    position:relative;
}
.artistList input{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: brown;
    background-color: brown;
    color: white;
}
.artistList li:hover{
    background-color: antiquewhite;
}
.artistDes{
    margin: 0 80px;
}
.artistDes > *{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.artistName{
    margin: 10px 0;
    font: 1.2em "Fira Sans", sans-serif;
}
img{
    border-radius: 10%;
    float: left;
}
.btn_add_artist{
    position: inline-block;
}

li input{
    text-align: center;
    height:40px;
    display:block;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin: auto;
    width:30%;
}
.inputArtist{
    display: none;
}
.inputArtist ul{
    margin:auto;
    padding-left: 0px;

}
.inputArtist button{
    display: block;
    margin: auto;
    padding: 10px;
}

